.title {
  font-family: $title-font;

  &--main {
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.36rem;
    color: $color-primary;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
  }

  &--heading {
    font-size: 4rem;
    font-weight: normal;
    color: $color-primary;
    text-transform: uppercase;
  }

  &--light {
    font-weight: 200;
    font-size: 2.4rem;
    color: $color-text;
    letter-spacing: 0.4rem;
    font-family: $default-font !important;
  }
}

.paragraph {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.43rem;
  color: $color-text-dark;
}
