.title {
  font-family: $title-font;

  &--main {
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.36rem;
    color: $color-primary;
    letter-spacing: 0.2rem;
    text-transform: capitalize;

    @include media($breaking-point-1) {
      font-size: 5rem;
    }
    @include media($breaking-point-2) {
      font-size: 4.6rem;
    }
    @include media($breaking-point-3) {
      font-size: 3.8rem;
      line-height: 5rem;
    }
    @include media($breaking-point-4) {
      font-size: 3.2rem;
    }
  }

  &--heading {
    font-size: 4rem;
    font-weight: normal;
    color: $color-primary;
    text-transform: uppercase;

    @include media($breaking-point-1) {
      font-size: 3.8rem;
    }
    @include media($breaking-point-2) {
      font-size: 3.6rem;
    }
    @include media($breaking-point-3) {
      font-size: 3rem;
    }
    @include media($breaking-point-4) {
      font-size: 2.8rem;
    }
  }

  &--light {
    font-weight: 200;
    font-size: 2.4rem;
    color: $color-text;
    letter-spacing: 0.4rem;
    font-family: $default-font !important;

    @include media($breaking-point-1) {
      font-size: 2.3rem;
    }
    @include media($breaking-point-2) {
      font-size: 2.2rem;
    }
    @include media($breaking-point-3) {
      font-size: 2.1rem;
    }
    @include media($breaking-point-4) {
      font-size: 2rem;
    }
  }
}

.paragraph {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.43rem;
  color: $color-text-dark;

  &--small {
    font-size: 1.3rem;
  }
}
