$color-primary: #995f97;
$color-secondary: #f5e6c1;

$color-text: #995f97;
$color-text-dark: #5c245a;
$color-text-light: #9b7bb2;
$color-white: #ffffff;
$color-black: #000000;

$color-bg-light: rgba(244, 242, 245, 0.39);

$default-font: 'Inter', sans-serif;
$title-font: 'Karla', sans-serif;

$gutterX: 4rem;
$gutterX-sm: 1.5rem;
$gutterY: 6.4rem;

$sm-gap: 1.5rem;
$md-gap: 2.4rem;
$lg-gap: 4rem;
$big-gap: 6.4rem;

$breaking-point-1: 991px;
$breaking-point-2: 768px;
$breaking-point-3: 425px;
$breaking-point-4: 320px;

$transition: all 0.2s ease-in-out;
