.address {
  @include flexAlignCjustifyC();

  &__link {
    @include flexAlignCjustifyC();
    &:not(:last-child) {
      margin-right: 2.1rem;
    }

    svg path {
      fill: $color-text;

      transition: all 0.3s ease-in-out;
    }

    &:hover {
      svg path {
        fill: $color-text-dark;
      }
    }
  }
}
