.button {
  &--primary {
    font-weight: 600;
    color: $color-white;
    line-height: 2.43rem;
    display: inline-block;
    padding: 0.8rem 1.8rem;
    background-color: $color-primary;
    border: 0.2rem solid $color-primary;

    transition: all 0.3s ease-in-out;

    &:hover {
      color: $color-primary;
      background-color: transparent;
    }
  }
}
