.product {
  margin-bottom: $lg-gap;

  &__image-box {
    padding-bottom: 150%;

    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    transition: all 0.3s ease-in-out;
  }

  &__name {
    font-weight: 500;
    font-size: 1.6rem;
    color: $color-text;
    font-family: $default-font;

    transition: all 0.3s ease-in-out;
  }

  &__price {
    font-size: 1.8rem;
    font-weight: normal;
    color: $color-text-light;
    font-family: $title-font;
  }

  &__link {
    display: block;
    &:hover {
      .product__image-box {
        background-size: 110%;
      }

      .product__name {
        color: $color-text-dark;
      }
    }
  }
}
