.footer {
  background-color: $color-bg-light;
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    width: 23.8rem;
  }

  &__nav {
  }
}
