.header {
  &__navigation {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 23.8rem;
  }

  .nav {
    left: 50%;
    top: 30px;
    position: absolute;

    transform: translateX(-50%);
    &__list {
      @include flexAlignCjustifyC();
    }
    &__item {
      &:not(:last-child) {
        margin-right: 3.3rem;
      }
    }
    &__link {
      font-size: 1.5rem;
      color: $color-text;
      font-weight: 500;
      font-family: $default-font;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: $color-text-dark;
      }
    }
  }

  .hero {
    display: flex;
    justify-content: space-between;

    &__item {
      flex-basis: 32%;
      img {
        width: 100%;
      }

      &--content {
        padding: 4rem 3.6rem;
        background-color: $color-secondary;
      }

      &__heading {
        margin-bottom: 2.4rem;
      }
    }
  }
}
