.header {
  &__navigation {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 23.8rem;
  }

  &__menu-icon {
    display: none;

    @include media($breaking-point-1) {
      display: block;
    }
  }

  &__nav {
    left: 50%;
    top: 30px;
    position: absolute;

    transform: translateX(-50%);

    @include media($breaking-point-1) {
      display: none;
      margin-top: $sm-gap;

      top: 0;
      left: 0;
      position: relative;

      transform: translateX(0);

      flex-basis: 100%;
      box-shadow: 0 -2px 7px -4px rgba(0, 0, 0, 0.3);

      .nav__list {
        flex-direction: column;

        margin-top: $md-gap;
        padding: 0 $md-gap;
      }

      .nav__item {
        width: 100%;
        text-align: center;
        margin-right: 0;

        margin-bottom: $sm-gap;
        padding-bottom: $sm-gap;

        border-bottom: 1px solid $color-secondary;
      }
    }
  }

  &__address {
    @include media($breaking-point-1) {
      display: none;
      padding-bottom: $md-gap;

      flex-basis: 100%;

      box-shadow: 0 2px 7px -4px rgba(0, 0, 0, 0.3);
    }
  }

  .hero {
    display: flex;
    justify-content: space-between;

    &__item {
      flex-basis: 32%;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include media($breaking-point-1) {
        flex-basis: 24%;
      }
      @include media($breaking-point-2) {
        flex-basis: 19%;
      }
      @include media(580px) {
        flex-basis: 0;
      }

      &--content {
        padding: 4rem 3.6rem;
        background-color: $color-secondary;

        @include media($breaking-point-1) {
          flex-basis: 49%;
        }
        @include media($breaking-point-2) {
          flex-basis: 59%;
        }
        @include media(580px) {
          flex-basis: calc(100% - 4rem);
        }
      }

      &__heading {
        margin-bottom: 2.4rem;
      }
    }
  }
}

#menu-icon {
  @include media($breaking-point-1) {
    display: flex;
  }
  flex-direction: column;
  span {
    width: 3.6rem;
    height: 0.35rem;
    // display: ;
    margin: 0.3rem 0;
    background-color: $color-primary;
  }
}

body.menu--open {
  @include media($breaking-point-1) {
    .header__nav {
      display: block;
    }
    .header__address {
      display: flex;
    }
  }
}
