.header {
  &__navigation {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 23.8rem;
  }

  &__nav {
    left: 50%;
    top: 30px;
    position: absolute;

    transform: translateX(-50%);
  }

  .hero {
    display: flex;
    justify-content: space-between;

    &__item {
      flex-basis: 32%;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include media($breaking-point-1) {
        flex-basis: 24%;
      }
      @include media($breaking-point-2) {
        flex-basis: 19%;
      }
      @include media(580px) {
        flex-basis: 0;
      }

      &--content {
        padding: 4rem 3.6rem;
        background-color: $color-secondary;

        @include media($breaking-point-1) {
          flex-basis: 49%;
        }
        @include media($breaking-point-2) {
          flex-basis: 59%;
        }
        @include media(580px) {
          flex-basis: calc(100% - 4rem);
        }
      }

      &__heading {
        margin-bottom: 2.4rem;
      }
    }
  }
}
