@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter-ExtraLight.woff2") format("woff2"), url("./fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter-Regular.woff2") format("woff2"), url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter-Medium.woff2") format("woff2"), url("./fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter-ExtraLight.woff2") format("woff2"), url("./fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter-SemiBold.woff2") format("woff2"), url("./fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Karla';
  src: url("./fonts/Karla-Bold.woff2") format("woff2"), url("./fonts/Karla-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Karla';
  src: url("./fonts/Karla-Regular.woff2") format("woff2"), url("./fonts/Karla-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2.4rem; }
  @media (max-width: 991px) {
    html {
      font-size: 60%; } }
  @media (max-width: 768px) {
    html {
      font-size: 58%; } }
  @media (max-width: 425px) {
    html {
      font-size: 56%; } }
  @media (max-width: 320px) {
    html {
      font-size: 52%; } }

body {
  position: relative;
  margin: 0 auto;
  max-width: 144rem;
  line-height: 1.6;
  font-size: 1.5rem;
  color: #995f97;
  font-weight: normal;
  font-family: "Inter", sans-serif; }

a:link,
a:visited {
  text-decoration: none; }

ul {
  list-style-type: none; }

.title {
  font-family: "Karla", sans-serif; }
  .title--main {
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.36rem;
    color: #995f97;
    letter-spacing: 0.2rem;
    text-transform: capitalize; }
    @media (max-width: 991px) {
      .title--main {
        font-size: 5rem; } }
    @media (max-width: 768px) {
      .title--main {
        font-size: 4.6rem; } }
    @media (max-width: 425px) {
      .title--main {
        font-size: 3.8rem;
        line-height: 5rem; } }
    @media (max-width: 320px) {
      .title--main {
        font-size: 3.2rem; } }
  .title--heading {
    font-size: 4rem;
    font-weight: normal;
    color: #995f97;
    text-transform: uppercase; }
    @media (max-width: 991px) {
      .title--heading {
        font-size: 3.8rem; } }
    @media (max-width: 768px) {
      .title--heading {
        font-size: 3.6rem; } }
    @media (max-width: 425px) {
      .title--heading {
        font-size: 3rem; } }
    @media (max-width: 320px) {
      .title--heading {
        font-size: 2.8rem; } }
  .title--light {
    font-weight: 200;
    font-size: 2.4rem;
    color: #995f97;
    letter-spacing: 0.4rem;
    font-family: "Inter", sans-serif !important; }
    @media (max-width: 991px) {
      .title--light {
        font-size: 2.3rem; } }
    @media (max-width: 768px) {
      .title--light {
        font-size: 2.2rem; } }
    @media (max-width: 425px) {
      .title--light {
        font-size: 2.1rem; } }
    @media (max-width: 320px) {
      .title--light {
        font-size: 2rem; } }

.paragraph {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.43rem;
  color: #5c245a; }
  .paragraph--small {
    font-size: 1.3rem; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem; }

.center {
  margin: 0 auto; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-white {
  color: #ffffff !important; }

.text-primary {
  color: #995f97; }

.text-secondary {
  color: #f5e6c1; }

.gutterX {
  padding-left: 4rem;
  padding-right: 4rem; }
  @media (max-width: 768px) {
    .gutterX {
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }
  .gutterX--sm {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

.gutterY {
  padding-top: 6.4rem; }
  .gutterY--bottom {
    padding-bottom: 6.4rem; }
  .gutterY--lg {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .gutterY--md {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem; }
  .gutterY--sm {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .gutterY--no-bottom {
    padding-bottom: 0; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.d-block {
  display: block; }

.d-none {
  display: none; }

.big-mar-bt {
  margin-bottom: 6.4rem; }

.big-mar-tp {
  margin-top: 6.4rem; }

.lg-mar-bt {
  margin-bottom: 4rem; }

.lg-mar-tp {
  margin-top: 4rem; }

.md-mar-bt {
  margin-bottom: 2.4rem; }

.md-mar-tp {
  margin-top: 2.4rem; }

.sm-mar-bt {
  margin-bottom: 1.5rem; }

.sm-mar-tp {
  margin-top: 1.5rem; }

.bg-primary {
  background-color: #995f97; }

.bg-secondary {
  background-color: #f5e6c1; }

.bg-white-dim {
  background-color: #fafafa; }

.font-light {
  font-weight: 300; }

.font-normal {
  font-weight: normal; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.w-100 {
  width: 100%; }

.bg-dim {
  background-color: #f8f9fa; }

.w-bold {
  font-weight: bold; }

.text-none {
  text-transform: none; }

.button--primary {
  font-weight: 600;
  color: #ffffff;
  line-height: 2.43rem;
  display: inline-block;
  padding: 0.8rem 1.8rem;
  text-transform: capitalize;
  background-color: #995f97;
  border: 0.2rem solid #995f97;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .button--primary:hover {
    color: #995f97;
    background-color: transparent; }

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .address__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .address__link:not(:last-child) {
      margin-right: 2.1rem; }
    .address__link svg path {
      fill: #995f97;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .address__link:hover svg path {
      fill: #5c245a; }

.product {
  margin-bottom: 4rem; }
  .product__image-box {
    padding-bottom: 150%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .product__name {
    font-weight: 500;
    font-size: 1.6rem;
    color: #995f97;
    font-family: "Inter", sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .product__price {
    font-size: 1.8rem;
    font-weight: normal;
    color: #9b7bb2;
    font-family: "Karla", sans-serif; }
  .product__link {
    display: block; }
    .product__link:hover .product__image-box {
      background-size: 110%; }
    .product__link:hover .product__name {
      color: #5c245a; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav__item:not(:last-child) {
  margin-right: 3.3rem; }

.nav__link {
  font-size: 1.5rem;
  color: #995f97;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .nav__link:hover {
    color: #5c245a; }

.header__navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 991px) {
    .header__navigation {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      height: 84px;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; } }

.header__logo {
  width: 23.8rem; }

.header__menu-icon {
  display: none; }
  @media (max-width: 991px) {
    .header__menu-icon {
      display: block; } }

.header__nav {
  left: 50%;
  top: 30px;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media (max-width: 991px) {
    .header__nav {
      margin-top: 1.5rem;
      top: 0;
      left: 0;
      position: relative;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .header__nav .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 2.4rem;
        padding: 0 2.4rem; }
      .header__nav .nav__item {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #f5e6c1; } }

@media (max-width: 991px) {
  .header__address {
    padding-bottom: 2.4rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; } }

.header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header .hero__item {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 991px) {
      .header .hero__item {
        -ms-flex-preferred-size: 24%;
            flex-basis: 24%; } }
    @media (max-width: 768px) {
      .header .hero__item {
        -ms-flex-preferred-size: 19%;
            flex-basis: 19%; } }
    @media (max-width: 580px) {
      .header .hero__item {
        -ms-flex-preferred-size: 0;
            flex-basis: 0; } }
    .header .hero__item--content {
      padding: 4rem 3.6rem;
      background-color: #f5e6c1; }
      @media (max-width: 991px) {
        .header .hero__item--content {
          -ms-flex-preferred-size: 49%;
              flex-basis: 49%; } }
      @media (max-width: 768px) {
        .header .hero__item--content {
          -ms-flex-preferred-size: 59%;
              flex-basis: 59%; } }
      @media (max-width: 580px) {
        .header .hero__item--content {
          -ms-flex-preferred-size: calc(100% - 3rem);
              flex-basis: calc(100% - 3rem); } }
    .header .hero__item__heading {
      margin-bottom: 2.4rem; }

#menu-icon {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 991px) {
    #menu-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  #menu-icon span {
    width: 3.6rem;
    height: 0.35rem;
    margin: 0.3rem 0;
    background-color: #995f97; }

@media (max-width: 991px) {
  body.menu--open .header__navigation {
    height: 350px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  body.menu--open .header__nav {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 -2px 7px -4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 -2px 7px -4px rgba(0, 0, 0, 0.3); }
  body.menu--open .header__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 2px 7px -4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 7px -4px rgba(0, 0, 0, 0.3); } }

.footer {
  background-color: rgba(244, 242, 245, 0.39); }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__logo {
    width: 23.8rem; }

.collection__list {
  gap: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 991px) {
    .collection__list {
      gap: 2%;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  @media (max-width: 768px) {
    .collection__list {
      gap: 2%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.collection__item {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%; }
  @media (max-width: 991px) {
    .collection__item {
      -ms-flex-preferred-size: 31%;
          flex-basis: 31%; } }
  @media (max-width: 768px) {
    .collection__item {
      -ms-flex-preferred-size: 48%;
          flex-basis: 48%; } }
  @media (max-width: 320px) {
    .collection__item {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }

.follow-us {
  background-color: #f5e6c1;
  padding: 0 1.5rem; }
  .follow-us__container {
    max-width: 66rem;
    margin: 0 auto; }
  .follow-us__title {
    line-height: 4.9rem; }
    @media (max-width: 425px) {
      .follow-us__title {
        line-height: 4rem; } }
  .follow-us__address-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 500;
    font-size: 2.4rem; }
    @media (max-width: 991px) {
      .follow-us__address-box {
        font-size: 2.3rem; } }
    @media (max-width: 768px) {
      .follow-us__address-box {
        font-size: 2.2rem; } }
    @media (max-width: 425px) {
      .follow-us__address-box {
        font-size: 2.1rem; } }
    @media (max-width: 320px) {
      .follow-us__address-box {
        font-size: 2rem; } }

.new-arrival__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.new-arrival__item {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%; }
  @media (max-width: 991px) {
    .new-arrival__item {
      -ms-flex-preferred-size: 32%;
          flex-basis: 32%; } }
  @media (max-width: 768px) {
    .new-arrival__item {
      -ms-flex-preferred-size: 49%;
          flex-basis: 49%; } }
  @media (max-width: 320px) {
    .new-arrival__item {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }
